<p-toast></p-toast>

<p-card>
  <button pButton pRipple label="Novo" (click)="abrirDialog(1)" icon="pi pi-plus"
    style="margin-left: 15px; margin-top: 15px;" class="p-button-success p-mr-2 p-mb-6"></button>
  <p-table #dt [rowHover]="true" [lazy]="true" [paginator]="true" [rows]="20" styleClass="p-datatable-striped "
    [value]="pedidos">
    <ng-template pTemplate="header">
      <tr>
        <td>ID: </td>
        <td>Cliente: </td>
        <td>Total Compra: </td>
        <td>Data Compra: </td>
        <td>Produtos: </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedido>
      <tr>
        <td>{{pedido?.id}}</td>
        <td>{{pedido?.cliente?.nome}}</td>
        <td>{{pedido?.totalCompra | currency: "BRL"}}</td>
        <td>{{pedido?.dataCompra | date: "dd/MM/y"}}</td>
        <td>
          <div *ngFor="let produto of pedido.produtos">{{pedido.produtos.indexOf(produto)+1}}. {{produto.nome}}</div>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="abrirDialog(2, pedido)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deletarPedido(pedido)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>


<p-dialog [modal]="true" [closable]="false" #dialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [style]="{width: '55vw'}" [visible]="mostrarDialogPedido" [header]="this.getHeader()"
  [contentStyle]="{'height': ['windowHeightDialog']}">
  <form #registrarForm="ngForm" name="registrarForm">
    <p-card>
      <div class="p-col-12 p-mr-2 p-mb-2">
        <label *ngIf="!isNew">Cliente</label>
        <p-dropdown name="cliente" placeholder="Cliente" [appendTo]="dialog" [options]="clientes"
          [(ngModel)]="pedido.cliente" optionLabel="nome"></p-dropdown>
      </div>

      <div class="p-col-12 p-mr-2 p-mb-2">
        <label>Produtos</label>
        <p-pickList name="produtos" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}"
        sourceHeader="Disponível" targetHeader="Selecionado"
        [showSourceControls]="false"
        [showTargetControls]="false"
        (onMoveToTarget)="somarProduto()"
        (onMoveAllToTarget)="somarProduto()"
        (onMoveToSource)="somarProduto()"
        (onMoveAllToSource)="somarProduto()"
          [source]="produtos" [target]="pedido.produtos">
          <ng-template let-produto pTemplate="item">
            <div class="product-item">
              <div class="product-list-detail">
                <h6 class="p-mb-2">Nome: {{produto.nome}}</h6>
                <h6 class="product-category">Descrição: {{produto.descricao}}</h6>
                <h6 class="p-mb-2">Preço: R${{produto.preco}}</h6>
                <h6>Quantidade: {{produto.quantidade}}</h6>
              </div>
              ---------------------------
            </div>
          </ng-template>
        </p-pickList>
      </div>

      <div class="p-col-12 p-mr-2 p-mb-2">
        Total Compra: {{pedido.totalCompra | currency: "BRL"}}
      </div>

      <div class="p-col-12 p-mr-2 p-mb-2">
        <button pButton pRipple type="button" label="Salvar" (click)="save()"
          class="p-button-success p-mr-4"></button>
        <button pButton pRipple type="button" label="Fechar" (click)="fecharDialog()"
          class="p-button-secondary p-mr-4"></button>
      </div>
    </p-card>
  </form>
</p-dialog>


<p-confirmDialog [acceptLabel]="'Sim'" [rejectLabel]="'Não'" [style]="{width: '450px'}"></p-confirmDialog>
